.container {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: cadetblue;
    color: aliceblue;
    font-size: 16px;
    border-radius: 10px;
    padding: 1px;
}

h1 {
    font-size: 70px
}

.button-43,
.button-42 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 40%;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
    margin: 6px;
    font-size: 16px;
    font-weight: bold
}

.button-43,
.button-42:hover {
    box-shadow: rgba(109, 107, 106, 0.5) 0 3px 8px;
}

.button-43 {
    background-image: linear-gradient(-180deg, #2ef85a, #09cc09);
}